body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header h1 {
    margin: 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que os botões fiquem em múltiplas linhas, se necessário */
}

nav ul li {
    margin: 5px;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #555;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #777;
}

main {
    background-image:url(https://storage.googleapis.com/medium-feed.appspot.com/images%2F9353691196%2Ffcedf0d34e955-Teste-de-Unidade-Definicao-Tipos-e-Melhores-Praticas.jpg) ;
    flex: 1;
    padding: 60px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}

main h1,h2,p{
    color: white;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}